.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #1F2022;
    padding: 1.5em;
    position: fixed;
    height: 4em;
    width: 100%;
    z-index: 1;
    top: 0;
}

.logo a{
    font-weight: 600;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
}

.logo span{
    color: #05AAE1;
    font-size: 25px;
    font-weight: bolder;
}

.logo img{
    width: 15rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 1rem;
}
.header-desktop{
    display: none;
}

.header .close-icon{
    position: absolute;
    right: 25px;
    top: 15px;
    color: white;
    font-size: 30px;
}

.toggle-icon .MuiSvgIcon-root{
    color: white;
    font-size: 2.5em;
}

.logo{
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo .MuiSvgIcon-root{
    position: absolute;
    right: 20px;
    font-size: 2.5rem;
}

.nav-link{
    display: none;
}

.open-nav{
    display: flex;
    padding: 3em 0;
    height: 300vw;
    width: 80%;
    background: rgb(37, 37, 37);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.open-nav ul{
    padding: 0;
}
.open-nav .sub-courses{
    display: none;
}

.open-nav .show-subCourses{
    display: block;
    flex-direction: column;
}

.open-nav .link{
    border-bottom: 1px solid white;
    padding: 0.8em 1.5em;
    font-size: 15px;
    cursor: pointer;
}

.open-nav .mobile-link{
    width: 100%;
}

.link-course{
    align-items: center;
    align-content: center;
    border-bottom: 1px solid white;
    font-size: 18px;
}

.open-nav .link-course p{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.open-nav li{
    list-style: none;
    color: white;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 3em;
    }

    .logo .MuiSvgIcon-root{
        display: none;
    }

    .mobile-nav{
        display: none;
    }

    .header-desktop{
        display: block;
        padding: 0 2em;
    }

    .header-desktop .desktop-link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .header-desktop .desktop-link link{
        color: white;
        cursor: pointer;
    }


    .dropdown .link, .course-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-content: center;
        color: white;
        font-size: 15px;
        cursor: pointer;

    }

    .dropdown{
        position: relative;
    }
 
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        left: 4em;
        top: 2em;
        z-index: 1;
        border-radius: 8px;
        padding: 0;
      }

      .dropdown-content .drop-link {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor: pointer;

      }
    
        .dropdown-content .drop-link:hover {
            background-color: #ddd;
            border-radius: 8px;
            

        }
        .dropbtn:hover .dropdown-content {
            display: block;
        }

}
