.form-details{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    text-align: left;
    padding: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.85rem;
}

.form-details p{
    margin: .2rem 0;
    font-size: 14px;
}

.form-details h2{
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-decoration: underline;
}