.whatsapp-icon{
    position: fixed;
    right: 10px;
    bottom: 0;
}

.whatsapp-icon img{
    width: 50px;

}

@media screen and (min-width: 768px){
    .whatsapp-icon{
        right: 30px;
        bottom: 2.5rem;
    }

    .whatsapp-icon img{
        min-width: 4rem;
    
    }
    
}

