.floating-nav-bar{
    display: none;
}

.bottom-floating-bar{
    display: none;
}

@media screen and (min-width: 800px){
    .home-container{
        position: relative;
    }
    .floating-nav-bar{
        background: white;
        border-radius: 5px;
        min-width: 14%;
        padding: 1.5rem 0;
        position: fixed;
        top: 5em;
        left: 3.5em;
        display: block;
        padding-top: 0.5rem;
        z-index: 1;
        box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    }

    .bottom-floating-bar{
        background: white;
        border-radius: 5px;
        min-width: 14%;
        height: 25vh;
        position: fixed;
        bottom: 1.5rem;
        left: 3.5em;
        display: block;
        z-index: 1;
        box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    }

    .bottom-floating-bar{
        padding: 1.8em 1em;
       
    }

    .bottom-floating-bar .text p, h2 {
        text-align: center;
        font-size: 17px;
    }

    .floating-nav-bar .floating-link{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 10px;
        
    }

    .floating-nav-bar .floating-link li{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    ul.floating-link {
        padding: 0;
    }

    .floating-nav-bar .floating-link Button{
        margin: 0 15px;
        padding: 10px;
    }



    .floating-nav-bar .floating-link .active{
        border-right: 3px solid red;
        font-weight: bold;
    }

    .floating-nav-bar .floating-link li a{
        flex: 1;
        font-size: 0.9em;
        color: rgb(24, 23, 23);
        cursor: pointer;
        width: 100%;
        margin: 3px 0;
        padding: 10px 15px;
        display: block;

        
    }

    .floating-nav-bar .floating-link li a:hover{
        color: #05A8DF;
    }
}


